$white: #fff;
$button-danger: #dc3545;
$button-danger-dark-01: #bb2d3b;
$button-danger-dark-02: #b02a37;
$button-danger-dark-03: #a52834;
$button-danger-focus-shadow: rgba(225, 83, 97, 0.5);

$button-primary: #0d6efd;
$button-primary-dark-01: #0b5ed7;
$button-primary-dark-02: #0a58ca;
$button-primary-dark-03: #0a53be;
$button-primary-focus-shadow: rgba(49, 132, 253, 0.5);

$button-success: #198754;
$button-success-dark-01: #157347;
$button-success-dark-02: #146c43;
$button-success-dark-03: #13653f;
$button-success-focus-shadow: rgba(60, 153, 110, 0.5);
